Newbe.Mahua.Plugins.Template1/Web References/RobotRemoteService/RobotRemoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostQuans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Q" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page_no" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostQuansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostQuansResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuanSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuan" />
  </wsdl:message>
  <wsdl:message name="GetQuanSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuanResponse" />
  </wsdl:message>
  <wsdl:message name="PostQuansSoapIn">
    <wsdl:part name="parameters" element="tns:PostQuans" />
  </wsdl:message>
  <wsdl:message name="PostQuansSoapOut">
    <wsdl:part name="parameters" element="tns:PostQuansResponse" />
  </wsdl:message>
  <wsdl:portType name="RobotRemoteServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuan">
      <wsdl:input message="tns:GetQuanSoapIn" />
      <wsdl:output message="tns:GetQuanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostQuans">
      <wsdl:input message="tns:PostQuansSoapIn" />
      <wsdl:output message="tns:PostQuansSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RobotRemoteServiceSoap" type="tns:RobotRemoteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuan">
      <soap:operation soapAction="http://tempuri.org/GetQuan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostQuans">
      <soap:operation soapAction="http://tempuri.org/PostQuans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RobotRemoteServiceSoap12" type="tns:RobotRemoteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuan">
      <soap12:operation soapAction="http://tempuri.org/GetQuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostQuans">
      <soap12:operation soapAction="http://tempuri.org/PostQuans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RobotRemoteService">
    <wsdl:port name="RobotRemoteServiceSoap" binding="tns:RobotRemoteServiceSoap">
      <soap:address location="http://localhost:8888/RobotRemoteService.asmx" />
    </wsdl:port>
    <wsdl:port name="RobotRemoteServiceSoap12" binding="tns:RobotRemoteServiceSoap12">
      <soap12:address location="http://localhost:8888/RobotRemoteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>